    {{>_navbar}}


    <!-- Account Box Changes -->

    <div class="container">
        <div class="row mt-5">
            <div class="col-lg-4 col-md-3"></div>
            <div class="col-lg-4 col-md-6 col-sm-8 account-box-new-password">
                {{#each erros}}
                  <div class="alert alert-danger">{{text}}</div>
              {{else}}
              {{/each}}
              {{>_msg}}
              <h1 class="display-6">New password</h1>
              <form action="/auth/new-password/{{params}}" method="post">
              <hr>
              <input class="input-class mb-3" type="password" name="newPassword" placeholder="New password">
              <input class="input-class mb-3" type="password" name="confirmPassword" placeholder="Confirm new password">
              <hr>
              <button>Apply changes</button>
              </form>
            </div>
            <div class="col-lg-4 col-md-3"></div>
        </div>
    </div>

    <!-- Account Box Changes - End -->

    {{>_footer}}

   
 



    

