  {{>_navbar}}
  
  <!-- Account Box Recover Password -->

    <div class="container">
        <div class="row mt-5">
            <div class="col-lg-4 col-md-3"></div>
            <div class="col-lg-4 col-md-6 col-sm-8 account-box-recover-password">
               {{#if error}}
                <div class="alert alert-danger">{{this.error}}</div>
              {{else}}
              {{/if}}
              {{>_msg}}
              <h4 class="mb-1">Recover your password</h4>
              <p>Enter your email below to recover your password</p>
              <form action="/auth/recover-password" method="post">
                <input class="input-class mb-3" type="email" name="email" placeholder="Email">
                <button type="submit">Send</button><br><br>
                <a href="/auth/login">Go back to Login Page</a>
              </form>
            </div>
            <div class="col-lg-4 col-md-3"></div>
        </div>
    </div>

    <!-- Account Box Recover Password - End -->

    {{>_footer}}