  {{>_navbar}}
  
  <!-- Play Area -->

    <div class="container">
      <div class="row mt-5">
        <div class="col-lg-6 col-sm-12 col-md-12 play-area-cover">
            <div class="play-area-img">
               <center><img src="img/images/checkers-board.png"></center>
            </div>
            
        </div>
        <div class="col-lg-6 col-sm-12 col-md-12 play-area-buttons">
             <div class="play-area">
                      <div class="play-area-body">
                        <h2>Play Checkers Online</h2><br>
                      </div>       
                      <a href="/auth/login"><button class="play-button play-button-1"><img src="img/images/play-online.png" width="60px"><span class="text-btn-1">Play online</span></button></a>
                      <a href="/auth/login"><button class="play-button-competitive play-button-2 mt-3"><img src="img/images/competitive-game.png" width="55px"><span class="text-btn-2">Competitive online game</span></button></a>
                      <a href="/auth/login"><button class="play-button play-button-3 mt-3"><img src="img/images/play-computer.png" width="65px"><span class="text-btn-3">Play Computer <small style="font-size: 14px">(Coming soon)</small></span></button></a>
            </div>
        </div>
       </div>
    </div>

    <!-- Play Area - End -->

    {{>_footer}}